.main-foot
  padding: 90px 0 70px
  background-color: #f8f8f8
  h3
    font-size: 16px
    opacity: .9
    margin-bottom: 18px
  h4
    font-size: 14px
    opacity: .9
    margin-bottom: 7px
  ul
    margin-bottom: 12px
    a
      color: $text
      font-size: 14px
      opacity: .7
      +mt(.3s)
      &:hover
        opacity: 1
        color: $accent

.foot-line
  display: flex
  align-items: center
  margin-bottom: 45px
  img
    width: 120px
    margin-right: 35px
  .description
    width: 180px
    font-size: 18px
    line-height: 24px
    opacity: .7
    font-weight: 700

.foot-contacts
  font-size: 18px
  padding-left: 80px
  a
    +mt(.3s)
    color: $text
    &:hover
      color: $accent
  .phone
    font-weight: 700
  p
    margin-bottom: 3px


//#map
//  height: 300px
//  border-radius: 10px
//  background-color: #eee
//  margin-top: 30px
//  overflow: hidden


.map-wrap
  height: 300px
  border-radius: 10px
  background-color: #eee
  margin-top: 30px
  overflow: hidden

.map-wrap
  position: relative

#map
  height: 100%
  position: relative
  background-image: url('../img/bg-map.jpg')
  +bg-cover

.loader
  position: absolute
  top: 0
  left: 0
  box-sizing: border-box
  width: 100%
  height: 100%
  overflow: hidden
  color: #000000
  transition: opacity .7s ease
  opacity: 0
  background-color: rgba(0,0,0,.55)
  z-index: -2

.loader:after,
.loader:before
  box-sizing: border-box

.loader.is-active
  top: 0
  opacity: 1
  z-index: 2

.loader-default:after
  position: absolute
  top: calc(50% - 24px)
  left: calc(50% - 24px)
  width: 48px
  height: 48px
  content: ''
  animation: rotation 1s linear infinite
  border: solid 8px #ffffff
  border-left-color: transparent
  border-radius: 50%

@keyframes rotation
  from
    transform: rotate(0)
  to
    transform: rotate(359deg)

@keyframes blink
  from
    opacity: .5
  to
    opacity: 1
